.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: #1b1e21;
  background-color: #d6d8d9;
  border-color: #c6c8ca;
  padding: 1rem;
  margin: 1rem;
}